#  Project -- IPL Winner Prediction

In [1]:
# importing all libraries
import numpy as np
import pandas as pd

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

import pickle

**Data Collection**

In [2]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

**Feature Extraction & Selection**

In [5]:
total_score_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\2630719186.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [6]:
total_score_df=total_score_df[total_score_df['inning']==1]

In [7]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [8]:
match_df=match.merge(total_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [9]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [10]:
teams=[
    'Kolkata Knight Riders',
    'Sunrisers Hyderabad',
    'Mumbai Indians',
    'Gujarat Titans',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Chennai Super Kings',
    'Rajasthan Royals',
    'Lucknow Supergiants',
    'Delhi Capitals'
]

In [11]:
match_df['team1']=match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2']=match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1']=match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2']=match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['team1']=match_df['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['team2']=match_df['team2'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['team1']=match_df['team1'].str.replace('Rising Pune Supergiants','Lucknow Supergiants')
match_df['team2']=match_df['team2'].str.replace('Rising Pune Supergiants','Lucknow Supergiants')

In [12]:
match_df=match_df[match_df['team1'].isin(teams)]
match_df=match_df[match_df['team2'].isin(teams)]

match_df=match_df[match_df['dl_applied']==0]

In [13]:
match_df['team2'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Capitals', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Kings XI Punjab', 'Gujarat Titans', 'Rajasthan Royals',
       'Chennai Super Kings', 'Lucknow Supergiants'], dtype=object)

In [14]:
match_df.shape

(663, 20)

In [15]:
match_df=match_df[['match_id','city','winner','total_runs']]

In [16]:
delivery_df=match_df.merge(delivery,on='match_id')

In [17]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [18]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158383,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,0,0,0,1,0,1,NaN,NaN,NaN
158384,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,0,0,0,2,0,2,NaN,NaN,NaN
158385,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
158386,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,0,0,0,2,0,2,NaN,NaN,NaN
158387,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [19]:
delivery_df['current_score']=delivery_df.groupby('match_id').cumsum()['total_runs_y']

C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\1213823236.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df['current_score']=delivery_df.groupby('match_id').cumsum()['total_runs_y']

In [20]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']+1

In [21]:
delivery_df['balls_left']=126-(delivery_df['over']*6+delivery_df['ball'])

In [22]:
# wickets left
delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x:x if x=="0" else "1")
delivery_df['player_dismissed']=delivery_df['player_dismissed'].astype('int')
wickets=delivery_df.groupby('match_id').cumsum()['player_dismissed'].values
delivery_df['wickets_left']=10-wickets

C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\631187321.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets=delivery_df.groupby('match_id').cumsum()['player_dismissed'].values

In [23]:
delivery_df.tail()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left
158383,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,1,0,NaN,NaN,152,1,4,5
158384,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,2,0,NaN,NaN,154,-1,3,5
158385,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,0,1,1,run out,KH Pandya,155,-2,2,4
158386,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,2,0,NaN,NaN,157,-4,1,4
158387,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,0,1,lbw,NaN,157,-4,0,3

In [24]:
delivery_df['curr_rr']=(delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

In [25]:
delivery_df['required_rr']=(delivery_df['runs_left']*6)/(delivery_df['balls_left'])

In [26]:
def result(df):
    return 1 if df['batting_team']==df['winner'] else 0

In [27]:
delivery_df['result']=delivery_df.apply(result,axis=1)

In [28]:
delivery_df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,curr_rr,required_rr,result
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,NaN,NaN,1,207,119,10,6.0,10.436975,0
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,NaN,NaN,1,207,118,10,3.0,10.525424,0
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,NaN,NaN,1,207,117,10,2.0,10.615385,0
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,NaN,NaN,3,205,116,10,4.5,10.603448,0
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,NaN,NaN,7,201,115,10,8.4,10.486957,0

In [29]:
dataset=delivery_df[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','curr_rr','required_rr','result']]

In [30]:
dataset['batting_team']=dataset['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
dataset['bowling_team']=dataset['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')

dataset['batting_team']=dataset['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
dataset['bowling_team']=dataset['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

dataset['batting_team']=dataset['batting_team'].str.replace('Gujarat Lions','Gujarat Titans')
dataset['bowling_team']=dataset['bowling_team'].str.replace('Gujarat Lions','Gujarat Titans')

dataset['batting_team']=dataset['batting_team'].str.replace('Rising Pune Supergiants','Lucknow Supergiants')
dataset['bowling_team']=dataset['bowling_team'].str.replace('Rising Pune Supergiants','Lucknow Supergiants')

C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['batting_team']=dataset['batting_team'].str.replace('Delhi Daredevils','Delhi Capitals')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowling_team']=dataset['bowling_team'].str.replace('Delhi Daredevils','Delhi Capitals')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['batting_team']=dataset['batting_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowling_team']=dataset['bowling_team'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['batting_team']=dataset['batting_team'].str.replace('Gujarat Lions','Gujarat Titans')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowling_team']=dataset['bowling_team'].str.replace('Gujarat Lions','Gujarat Titans')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['batting_team']=dataset['batting_team'].str.replace('Rising Pune Supergiants','Lucknow Supergiants')
C:\Users\arnab\AppData\Local\Temp\ipykernel_11632\3469869027.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowling_team']=dataset['bowling_team'].str.replace('Rising Pune Supergiants','Lucknow Supergiants')

In [31]:
dataset=dataset[dataset['batting_team'].isin(teams)]
dataset=dataset[dataset['bowling_team'].isin(teams)]

In [32]:
dataset['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Capitals', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Kings XI Punjab', 'Gujarat Titans', 'Rajasthan Royals',
       'Chennai Super Kings', 'Lucknow Supergiants'], dtype=object)

In [33]:
dataset['city'].unique()

array(['Hyderabad', 'Rajkot', 'Bangalore', 'Mumbai', 'Indore', 'Kolkata',
       'Delhi', 'Chandigarh', 'Kanpur', 'Jaipur', 'Chennai', 'Cape Town',
       'Port Elizabeth', 'Durban', 'Centurion', 'East London',
       'Johannesburg', 'Kimberley', 'Bloemfontein', 'Ahmedabad',
       'Cuttack', 'Nagpur', 'Dharamsala', 'Visakhapatnam', 'Pune',
       'Raipur', 'Ranchi', 'Abu Dhabi', 'Sharjah', nan, 'Mohali',
       'Bengaluru'], dtype=object)

In [34]:
dataset.head() # final dataset

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,curr_rr,required_rr,result
125,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,119,10,207,6.0,10.436975,0
126,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,118,10,207,3.0,10.525424,0
127,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,207,117,10,207,2.0,10.615385,0
128,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,205,116,10,207,4.5,10.603448,0
129,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,201,115,10,207,8.4,10.486957,0

In [35]:
df=dataset.sample(dataset.shape[0])

In [36]:
df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,curr_rr,required_rr,result
24347,Chennai Super Kings,Delhi Capitals,Durban,138,93,10,189,11.555556,8.903226,0

In [37]:
df.shape

(76636, 10)

In [38]:
df.dropna(inplace=True)
df=df[df['balls_left']!=0]

**Model Training**

In [39]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [40]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [41]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,curr_rr,required_rr
106473,Rajasthan Royals,Sunrisers Hyderabad,Visakhapatnam,51,47,9,127,6.328767,6.510638
144757,Mumbai Indians,Delhi Capitals,Mumbai,39,8,2,219,9.696429,29.250000
87601,Kings XI Punjab,Royal Challengers Bangalore,Chandigarh,43,26,6,190,9.446809,9.923077
148413,Kings XI Punjab,Chennai Super Kings,Chennai,92,58,8,165,7.161290,9.517241
146993,Rajasthan Royals,Chennai Super Kings,Chennai,13,5,3,182,8.869565,15.600000
...,...,...,...,...,...,...,...,...,...
135075,Delhi Capitals,Kings XI Punjab,Delhi,92,67,6,157,7.471698,8.238806
2987,Kolkata Knight Riders,Delhi Capitals,Delhi,164,115,9,168,6.000000,8.556522
33176,Chennai Super Kings,Mumbai Indians,Port Elizabeth,78,48,7,147,5.833333,9.750000
105041,Rajasthan Royals,Delhi Capitals,Delhi,12,6,3,184,9.105263,12.000000
91985,Royal Challengers Bangalore,Kolkata Knight Riders,Sharjah,84,73,9,150,8.553191,6.904110

In [42]:
# One hot encoding
trf = ColumnTransformer(transformers=[
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [43]:
# creating pipeline
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [44]:
pipe.fit(X_train,Y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [45]:
y_pred = pipe.predict(X_test)

In [46]:
accuracy_score(Y_test,y_pred)

0.8102706637548805

In [47]:
pipe.predict_proba(X_test)[10]

array([0.876928, 0.123072])

**Saving The Model**

In [48]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [49]:
pickle.load(open('pipe.pkl','rb'))

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

**Results**

In [50]:
batting_team=input("Enter batting team-->")
bowling_team=input("Enter bowling team-->")
selected_city=input("Enter city-->")
Target=int(input("Enter Target-->"))
Score=int(input("Enter Score-->"))
Overs=int(input("Enter Over-->"))
Wickets=int(input("Enter Wicket-->"))


runs_left=Target-Score
balls_left=120-(Overs*6)
wickets_left=10-Wickets
curr_rr=Score/Overs
required_rr=(runs_left*6)/balls_left

input_df=pd.DataFrame({'batting_team':[batting_team],'bowling_team':[bowling_team],
                          'city':[selected_city],'runs_left':[runs_left],'balls_left':[balls_left],'wickets_left':[wickets_left],
                          'total_runs_x':[Target],'curr_rr':[curr_rr],'required_rr':[required_rr]})

Enter batting team-->Kolkata Knight Riders
Enter bowling team-->Delhi Capitals
Enter city-->Kolkata
Enter Target-->200
Enter Score-->120
Enter Over-->10
Enter Wicket-->2

In [51]:
result=pipe.predict_proba(input_df)
loss=result[0][0]
win=result[0][1]
print(batting_team+"-"+str(round(win*100))+ "%")
print(bowling_team + "-" + str(round(loss*100)) + "%")

Kolkata Knight Riders-90%
Delhi Capitals-10%

In [52]:
import sklearn
from sklearn.compose import ColumnTransformer
sklearn.__version__

'1.2.1'